<div class="container">
  <div class="auth-container signup-form">

    <!-- Login & Sign Up buttons top -->
    {{> authButtonsTop}}

    <div class="auth-div">
      <div class="select-account-type">
        <p>selected account</p>
        <div class="buttons-div">
          <div class="signup-btn-selected">Volunteer</div>
        </div>
        <a href="/signup">different account?</a>
      </div>

      <!-- Sign Up social networks -->
      {{> signUpSocial}}

      <form class="signup-base-form form" action='/signup/volunteer' method='POST'>
        <input type="email" name="email" placeholder="email" required>
        <input type="password" name="password" placeholder="password" required>
        
        {{!-- <input type="text" name="occupation" placeholder="Occupation" required>
        
        <div class="checkbox-form">
        <input type="checkbox" id="skill1" name="skill1" value="Health Care">
        <label for="skill1">Health Care</label>
        <input type="checkbox" id="skill2" name="skill2" value="Health Care">
        <label for="skill2">Health Care</label>
        </div> --}}
        
        <div class="white-bg">
          <button type="submit" class="submit-btn">Sign Up</button>
        </div>
      </form>
    </div>
  </div>
</div>