<header>
  <a href="/"><img id="logo" src="/images/Logo.png"></a>

  <div class="menu-wrapper">
    <input type="checkbox" class="toggle" />
    <div class="hamburger">
      <div class="bar"></div>
    </div>
    <div class="menu">
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Sign up</a></li>
        <li><a href="#">Contacts</a></li>
      </ul>
    </div>
  </div>
</header>