<div class="social-networks">
  <p>Login with social network</p>
  <div class="buttons-div">
    <div class="facebook-btn btn-w-30">
      <a href="#">Facebook</a>
    </div>

    <div class="google-btn btn-w-30">
      <a href="#">Google</a>
    </div>
  </div>
</div>

<p class="divide-auth"><span>or</span></p>