<header>
  <img id="logo" src="/images/Logo.png">
  <div class="user">
    <h2>Hello, {{user.firstName}}</h2>
    <div class="avatar" style="background-image: url({{user.avatarUrl}}); contain norepeat; width: 44px; height: 44px; border-radius: 50%">
      
    </div>
    <div class="menu-wrapper">
        <input type="checkbox" class="toggle" />
        <div class="hamburger">
          <div class="bar"></div>
        </div>
        <div class="menu">
          <ul>
            <li><a href="/edit">Edit Profile</a></li>
            <li><a href="/logout">Log Out</a></li>
          </ul>
        </div>
      </div>
  </div>
</header>

{{!-- <script src="/javascripts/userPage.js"></script> --}}