{{> headerHomeAuth}}

<section id="carousel">
  <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img id="user-carousel" src="/images/carousel-user.jpg" class="d-block" alt="...">
      </div>
      <div class="carousel-item">
        <img id="volunteer-carousel" src="/images/carousel-volunteers.jpg" class="d-block" alt="...">
      </div>
    </div>
  </div>
</section>

<div class="caption">
  <h5>For a brighter tomorrow.</h5>
  <div class="blue2-button"><a href="/login">Login</a></div>
  <div class="blue2-button"><a href="/signup">Sign up</a></div>
</div>


<section id="about">
  <h5>Help the ones in need.</h5>
  <p><span>Adopt a Senior or Youngster</span> is an online platform that connects people.</br>
    We aim to provide help for those who depend on other’s to perform day-to-day tasks.</p>
</section>


<section id="account-types">
  <div class="account-div">
    <div class="blue-bg">
      <img src="/images/icons/users-icon.png">
    </div>
    <h5>User</h5>
    <p>If you need help to perform some daily or recurrent tasks</p>
    <div class="blue2-button"><a href="/signup/user">Sign up</a></div>
  </div>
  <!-- INTITUTION GOES HERE -->
  <div class="account-div">
    <div class="blue-bg">
      <img src="/images/icons/volunteers-icon.png">
    </div>
    <h5>Volunteer</h5>
    <p>If you’d like to help as a volunteer</p>
    <div class="blue2-button"><a href="/signup/volunteer
    ">Sign up</a></div>
  </div>
</section>

<section id="final-message">
  <h3>Join us today!</h3>
  <h6>For a brighter tomorrow.</h6>
</section>

<footer>
  <div>
    <span>Ironhack Project #2</span>
    <p>&copy; 2020 | Bruno &amp; Catarina</p>
  </div>
  <a href="https://www.facebook.com/" target="_blank"><img src="/images/icons/facebook-icon.png"></a>
</footer>