/*
-----COLOR SCHEMES
Blue 1 (darkest): #2b7283
Blue 2: #3da8c2
Blue 3: #69bdcf
Blue 4: #b6dfe8
Blue 5: #b6e0eb
White: #FFF
Grey 1 (lighter): #f8f8f8
Grey 2: #d1d3d4
Grey 3: #a7a9ac
Grey 4: #6d6e71
Black: #000
*/


* {
  margin: 0;
  padding: 0;

  //box-sizing: border-box;
}

body {
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
  font: 14px 'Open Sans', sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-content: center;
}

header {
  width: 100vw;

  #logo {
    width: 160px;
    padding: 5%;
  }

  .menu-wrapper {
    position: fixed;
    top: 5px;
    right: 15px;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
  }

  .menu-wrapper .toggle {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    cursor: pointer;
    opacity: 0;
  }

  .menu-wrapper .hamburger {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 998;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    transition: all 0.3s ease;
  }

  .menu-wrapper .hamburger .bar {
    position: relative;
    width: 100%;
    height: 3px;
    background: #3da8c2;
    z-index: 5;
    transition: all 0.2s linear;
  }

  .menu-wrapper .hamburger .bar::before,
  .menu-wrapper .hamburger .bar::after {
    content: '';
    position: absolute;
    top: -10px;
    width: 100%;
    height: 3px;
    background: #3da8c2;
    transition: all 0.2s linear;
  }



  .menu-wrapper .hamburger .bar::after {
    top: 10px;
  }

  .menu-wrapper .toggle:hover+.hamburger {
    transform: rotate(-25deg);
    background: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
  }

  .menu-wrapper .toggle:checked+.hamburger {
    transform: rotate(45deg);
  }

  .menu-wrapper .toggle:checked:hover+.hamburger {
    transform: rotate(135deg);
  }

  .menu-wrapper .toggle:hover+.hamburger .bar::before,
  .menu-wrapper .toggle:hover+.hamburger .bar::after {
    top: 0;
    transform: rotate(90deg);
  }

  .menu {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    background: rgba(43, 114, 131, 0.9);
    z-index: 1;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .menu ul li {
    color: #f8f8f8;
    font-size: 20px;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding-top: 20px;
    cursor: pointer;
    box-sizing: 15px;
    border-bottom: 2px solid transparent;

    a{
      color: #f8f8f8;
      text-decoration: none;
    }
  }

  .menu ul li:hover {
    color: #f8f8f8;
    border-bottom: 2px solid #f8f8f8;
  }

  .menu-wrapper .toggle:checked+.hamburger+.menu {
    opacity: 1;
    width: 100vw;
    height: 100vh;
  }
}

.blue2-button {
  width: 126px;
  height: 30px;
  background-color: #3da8c2;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-top: 8px;

  a {
    text-decoration: none;
    color: white;
    font-size: 0.8em;
    font-weight: bold;
  }
}

h3 {
  font-weight: bold;
  color: #2b7283;
}

h5 {
  font-weight: bold;
  color: #2b7283;
}

h6 {
  font-weight: bold;
  color: #3da8c2;
}



////////////////////////////
//-------- HOMEPAGE --------
////////////////////////////

#carousel {
  position: absolute;
  z-index: -1;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
  width: 100%;

  .carousel-item {
    height: 290px;

    #user-carousel {
      height: 120%;
      width: auto;
      padding-bottom: 40px;
    }

    #volunteer-carousel {
      height: 100%;
      width: auto;
    }
  }
}

.caption {
  position: absolute;
  margin-top: 100px;
  margin-left: 35px;

  h5 {
    width: 30%;
    text-align: left;
  }
}

#about {
  z-index: -2;
  margin-top: 225px;
  background-color: #f8f8f8;
  padding: 28px 43px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 20px;

  h5 {
    margin-top: 15px;
    margin-bottom: 30px;
  }

  span {
    font-weight: 600;
    color: #2b7283;
    font-size: 0.9em;
  }

  p {
    font-size: 0.9em;
  }
}

#account-types {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 28px 43px;

  .account-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    font-size: 0.9em;
    margin-bottom: 20px;
    width: 200px;

    .blue-bg {
      background-color: #b6e0eb;
      width: 105px;
      height: 105px;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      //margin-top: 20px;
      margin: 20px 0;

      img {
        height: 58px;
        width: auto;
      }
    }

    h5 {
      margin-bottom: 15px;
    }

    .blue2-button {
      margin-top: -5px;
    }
  }

}

#final-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 40px;
}

footer {
  background-color: #69bdcf;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;

  img {
    width: 21px;
    height: 21px;
    margin: 10px 18px;
  }

  div {
    padding: 10px 18px;

    span {
      font-weight: bold;
      font-size: 0.7em;
    }

    p {
      margin: 0;
      padding: 0;
      font-size: 0.7em;
    }
  }
}




////////////////////////////////////
//-------- LOGIN & SIGN UP --------
////////////////////////////////////

.container {
  //background-color: purple;
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
}

.auth-container {
  background-color: #d1d3d4;
  width: 80%;
  align-self: flex-start;
  margin-top: 2em;
  display: flex;
  flex-direction: column;

  .buttons-div {
    display: flex;
    justify-content: space-between;
  }

  .btn-w-50 {
    width: 50%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      color: black;
      font-weight: bold;
      text-decoration: none;
    }
  }

  .auth-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  p {
    font-size: 0.85em;
  }

  .divide-auth {
    width: 80%;
    text-align: center;
    border-bottom: 1px solid #a7a9ac;
    line-height: 0.1em;

    span {
      background: #d1d3d4;
      padding: 0 10%;
    }
  }

  .social-networks {
    //background-color: purple;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 10% 0;

    .btn-w-30 {
      width: 7em;
      height: 2em;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 0.8em;
      border-radius: 4px;
      padding: 1.2em 0;

      a {
        color: white;
        font-size: 0.85em;
        font-weight: 600;
        text-decoration: none;
      }
    }
  }

  .facebook-btn {
    background-color: #276EC1;
    width: 100%;
  }

  .google-btn {
    background-color: #C14327;
    width: 100%;
  }
}


// ---------> LOGIN

.login-form {
  .sign-up-btn {
    background-color: #a7a9ac;
    box-shadow: inset -3px -2px 9px rgba(0, 0, 0, 0.3);
  }

}


// ---------> SIGN UP
.auth-div {
  .select-account-type {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    width: 80%;
    margin: 10% 0 0;
    text-align: center;

    a {
      color: #2b7283;
      text-decoration: none;
      font-size: 0.8em;
      margin-top: 0.5em;
      font-weight: 600;
    }
  }

  .signup-btn-selected, .login-btn-selected {
    background-color: #2b7283;
    color: white;
    border: 1px solid white;
    width: 100%;
    padding: 0.5em;
    margin: -0.5em 2em 0;
    border-radius: 3px;
    font-size: 0.9em;
  }

  .btn-select-account {
    background-color: #d1d3d4;
    width: 100%;
    border: 1px solid #2b7283;
    padding: 0.5em;
    margin: 0 0.8em;
    color: #2b7283;
    border-radius: 3px;

    a {
      color: #2b7283;
      text-decoration: none;
    }
  }

  .btn-select-account:focus {
    background-color: #2b7283;
    outline: none;
    color: white;
    border: 1px solid white;
  }
}

.signup-form {
  .login-btn {
    background-color: #a7a9ac;
    box-shadow: inset -3px -2px 9px rgba(0, 0, 0, 0.3);
  }

}

.form {
  display: flex;
  flex-direction: column;
  width: 80%;

  .error-message{
    background: #F02B63;
    box-sizing: border-box;
    font-size: 0.9em;
    color: #fff;
    margin: 0 auto 0.5em;
    padding: 5px;
    width: 100%;
  }

  .success-message{
    background: rgb(10, 165, 10);
    box-sizing: border-box;
    font-size: 0.9em;
    color: #fff;
    margin: 0 auto 0.5em;
    padding: 5px;
    width: 100%;
  }

  input {
    box-sizing: border-box;
    width: 100%;
    padding: 0.5em;
    margin-top: 1em;
    font-size: 0.9em;
  }

  #upload-photo{
    background-color: white;
    box-sizing: border-box;
    width: 100%;
    padding: 0.5em;
    margin-top: 1em;
    font-size: 0.9em;
  }

  .submit-btn {
    width: 50%;
    padding: 0.5em;
    background-color: #3da8c2;
    border: 1px solid white;
    color: white;
    font-weight: bold;
    font-size: 0.9em;
    border-radius: 5px;
    margin: 10% 0;
    align-self: center;
  }

  select {
    background-color: white;
    //color: grey;
    box-sizing: border-box;
    width: 100%;
    padding: 0.5em;
    margin-top: 1em;
    font-size: 0.9em;
  }

  .checkbox-form {
    background-color: purple;

    label {
      background-color: yellow;
      width: 400%;
      text-align: left;
    }
  }

  .labels {
    font-size: 0.9em;
    font-weight: 600;
    margin: 0;
    padding-top: 2em;
  }

  label{
    font-size: 0.9em;
  }

  #birthdate{
    width: 65%;
    margin-left: 1.9%;
    background-color: white;
    text-align: center;
  }

  fieldset {
    legend {
      font-size: 0.9em;
      font-weight: 600;
      margin: 0;
      padding-top: 2em;
    }
  }

  .align-checkbox {
    display: flex;
    //background-color: yellow;
    width: 100%;
    padding: 0.5em;

    input {
      width: 15%;
      margin: 0;
      padding: 0;
      align-self: center;
    }

    label {
      //background-color: purple;
      width: 100%;
      margin: 0;
      padding: 0;
      align-self: center;
    }
  }

  p {
    margin-top: 1.3em;
    font-size: 0.7em;
  }

  textarea{
    font-size: 0.9em;
    margin-top: 1em;
  }

  .white-bg {
    margin-top: 1.5em;
    background-color: white;
    width: 125%;
    align-self: center;
    display: flex;
    justify-content: center;
  }
}




////////////////////////////////////
//-------- EDIT DETAILS --------
////////////////////////////////////

.edit-container {
  background-color: #d1d3d4;
  width: 85%;
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  
  h3{
    align-self: center;
    margin-bottom: 0.5em;
  }

  .edit-details{
    //background-color: blue;
    width: 100%;

    .labels{
      margin-top: -1em;

      .center{
        text-align: center;
      }
    }
  }

  .edit-labels{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 0.9em;
    
    label{
      margin-right: 1em;
      margin-top: 1.5em;
      width: 85px;
    }
  }

  p{
    font-size: 0.8em;
    text-align: center;
    margin: 4em 0 0 0;
  }

  a{
    text-decoration: none;
    color: #3da8c2;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    margin-top: 1em;
  }

  .center-btn{
    display: flex;
    justify-content: center;

    .submit-btn{
      margin: 1em 0;
    }

    .red{
      background-color: rgb(207, 0, 0);
      font-size: 0.8em;
    }
  }

  hr{
    margin:0.3em 0;
  }

  .volunteer-photo{
    background-color: white;
    border-radius: 50%;

    img{
      display: block;
      // height: 3em;
      // width:auto;
      border-radius: 5em;
    }
  }
}