/* GENERAL */
*{
  margin: 0;
  padding: 0;
}

body {
  font-size: .75em;
}

ul {
  list-style: none;
  margin: 0;
}

.title {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #a1a3a6;
  width: 95px;
  height: 45px;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title h2 {
  padding: 0;
  margin: 0;
  font-size: .8rem;
}

h3 {
  font-size: 1rem;
}

/* HEADER */
.avatarImg {
  width: 44px;
  height: 44px;
  border: 1px solid #36a8c2;
  border-radius: 50%;
  padding: 2px;
}

.profile-header {
  width: 100vw;
  height: 55px;
  padding-right: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: #fff;
  opacity: 1;
  z-index: 1;
}

.profile-menu {
  width: auto;
  height: 100%;
  padding: .5rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-menu h2 {
  padding-right: 20px;
}

.dropDownContainer {
  display: flex;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.profile-menu h2 {
  color: #36a8c2;
  font-size: 1rem;
}

.menu-avatar {
  cursor: pointer;
}

.dropDownMenu {
  background-color: #fff;
  padding: 5px;
  width: auto;
  height: auto;
  border: 1px solid #36a8c2;
  border-radius: 5px;
  position: absolute;
  top: -200px;
  right: 0px;
  transition: all 0.5s ease;
}

#menu-toggle:checked ~ .dropDownMenu {
  transform: translateY(260px);
}

.dropDownMenu a {
  text-decoration: none;
  display: block;
  padding: 10px 30px;
  color: #36a8c2;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
}

.dropDownMenu a:hover {
  color: #fff;
  background-color: #36a8c2;
}

/* PROFILE */
.data-container {
  position: relative;
  height: 50vh;
  top: 55px;
  padding: .75rem ;
  padding-top: 60px;
  font-size: .75rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: -1;
  line-height: .75rem;
}

.data-container,
.assigned-person {
  background-color: #c4c4c4;  
}

.data-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.personal,
.emergency-contact {
  width: 45%;
}

/* SPECIFICATIONS (2ND FIELD) */
.specs {
  background-color: #36a8c2;
  position: relative;
  height: 50vh;
  width: 100%;
  transform: translateY(55px);
}

.nav_tabs {
  width: 100%;
  height: 100%;
  position: relative;
}

.nav_tabs ul {
  list-style: none;
}

.nav_tabs ul li {
  float: left;
}

.nav_tabs label {
  width: 100px;
  height: 45px;
  padding: 5px 10px;
  margin-right: 5px;
  background-color: #a1a3a6;
  border-radius: 5px;
  border: 3px solid #a1a3a6;
  display: block;
  cursor: pointer;
  text-align: center;
  align-items: center;
}

.rd_tabs:checked ~ label {
  background-color: #fff;
}

.rd_tabs {
  display: none;
}

.rd_tabs:checked ~ .content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content article {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.needs,
.notes {
  width: 45%;
  height: 100%;
  padding: 5px;
  position: absolute;
}

.needs,
.schedule {
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ==== volunteer page ==== */
.user-needs {
  width: 100%;
}
/* ======================== */

.schedule article {
  display: flex;
  align-items: center;
  justify-content: center;
}

.schedule article ul {
  margin: 0;
  padding: 0;
}

.needs ul {
  margin: 0;
  padding: 0;
}

.notes {
  right: 0;
  top: 0;
  width: 50%;
  height: 95%;
  background-color: #fff;
  overflow: scroll;
}

.noteBanner {
  width: 150px;
  height: 50px;
  border-radius: 25px;
  border: 2px solid #36a8c2;
  background-color: #36a8c2;
}

.noteContent {
  display: none;
}

.noteContent article {
  display: block;
}

.content {
  display: none;
  position: absolute;
  height: 75%; /* alterar */
  width: 100%;
  padding: 0px 10px;
  left: 0;
}

#noteTab:checked ~ .noteBanner {
  background-color: #fff;
}

#noteTab:checked ~ .noteContent {
  display: block;
}

/* ASSIGNED PERSON (3RD FIELD) */
.assigned-person {
  position: relative;
  padding: 5px;
  height: 50vh;
}

.user-volunteers {
  width: 100%;
  height: 100%;
  padding-top: 45px;
}

.col {
  margin: 0;
  padding: 0px 0px 45px 0px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#volunteersList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  align-self: baseline;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.chk_tabs {
  display: none;
}

.column {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.banner {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* padding-left: 1em; */
  background-color: #36a8c2;
  border: 2px solid #36a8c2;
  width: 25vw;
  max-width: 150px;
  height: 50px;
  border-radius: 25px;
  cursor: pointer;
}

.banner span {
  box-sizing: border-box;
  width: 12.5vw;
}

.banner img {
  box-sizing: border-box;
  width: 12.5vw;
  height: auto;
  max-width: 45px;
}

.assignedVolunteerContent {
  position: absolute;
  top: 0;
  right: 0;
  width: 75%;
  height: 100%;
  display: none;
}

.assignedVolunteerContent .assigned {
  width: 100%;
  height: 100%;
  padding: 15px;
  position: relative;
}

.assignedVolunteerContent .assigned ul {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding-left: 5px;
  padding-right: 5px;
  top: 0;
  left: 15px;
  width: 100%;
  height: 100%;
}

.row {
  width: 100%;
  height: 100%;
  padding-left: 10px;
  display: block;
}

.row .ratting-content article label {
  background-color: transparent;
  padding: 0;
  margin-top: 10px;
  font-size: .75rem;
  align-items: left;
  border: none;
  text-align: left;
}

.row label {
  display: flex;
  align-items: center;
  justify-content: baseline;
  text-align: left;
  font-size: .75em;
  width: 15vw;
  margin-right: 1vw;
}

.row .content {
  background-color: #36a8c2;
  height: 32vh;
  width: 70vw;
  padding: 0;
  margin: 0;
  display: none;
  overflow: auto;
  position: absolute;
  left: 0;
  top: 50px;
}

.row .content article {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
  padding: 15px;
}

.row article form {
  display: flex;
  flex-direction: column;
  align-items: left;
  align-self: center;
  margin-left: 55px;
}

.review-btn {
  width: 100px;
  height: 16px;
  margin: 15px 0px;
  border: none;
  background-color: #fff;
  border-radius: 8px;
}

.ratting h5 {
  color:#333;
  font-size: 1rem;
}

.ratting div {
  display: inline-flex;
  align-items: center;
  font-size: 1rem;
}

.ratting textarea {
  width: 100%;
  overflow: auto;
}

.ratting div input {
  width: 20px;
  height: 20px;
  transform: translateY(-25%);
  margin-right: 10px;
}

.ratting div label {
  text-align: left;
  width: 10px;
  height: auto;
  background-color: transparent;
  border: none;
}

.assignedVolunteerContent .assigned ul li .field {
  text-align: center;
  justify-content: center;
}

.chk_tabs:checked ~ .banner {
  background-color: #fff;
}

.chk_tabs:checked ~ .assignedVolunteerContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row .rd_tabs:checked ~ .row .content {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media(min-width: 1024px) {
  .profile-header,
  .data-container,
  .specs,
  .assigned-person,
  footer {
    width: 1024px;
    margin: auto;
  }

  .row,
  .field {
    max-width: 160px;
  }

  .assigned ul {
    max-width: 720px;
  }

  /* .field {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin-right: 0px;
  } */

  /* .nav_tabs ul {
    padding-right: 20px;
  } */

  .row .content {
    max-width: 740px;
  }
}