*{
  margin: 0;
  padding: 0;
}
.avatarImg {
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background-color: #fff;
}

.data-container,
.specs {
  display: block;
}

.data-container,
.volunteers {
  background-color: silver;
}

.specs {
  background-color: #007bff;
  height: 220px;
}

.title {
  background-color: dimgrey;
  width: 130px;
  /* height: 40px; */
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

 h2 {
  font-size: 12px;
  text-align: center;
}

.data-content,
.needs,
.volunteers{
  float: left;
  display: flex;
  justify-content: space-between;  
}

.data-content,
.needs,
.notes,
.volunteers,
.user-volunteers,
article {
  padding: 5px;
  font-size: 12px;
}

h3 {
  font-size: 16px;
}

article {
  background-color: #fff;
  height: 100px;
  overflow: auto;
}

.rd_tabs {
  position: relative;
  display: none;
}

.nav_tabs ul li {
  float: left;
  margin-right: 5px;
  list-style: none;
}

.rd_lbl {
  width: 140px;
  height: 40px;
  background-color: dimgray;
  display: inline-flex;
  cursor: pointer;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.rd_tabs:checked ~ label {
  background-color: #fff;
}

.content {
  display: none;
  position: absolute;
  height: 320px;
  width: 100vw;
  left: 0;
}



.volunteers {
  width: 100vw;
  height: 600px;
}

.ratting-content {
  background-color: yellow;
}

.schedules-content {
  background-color: violet;
}

.reports-content{
  background-color: salmon;
}

.profile-content{
  background-color: red;
}

.ratting-content,
.schedules-content,
.reports-content,
.profile-content {
  width: 600px;
  height: 750px;
}

.rd_tabs:checked ~ .content {
  display: flex;
  justify-content: space-between;
}